{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
<div class="sidebar">
        <div class="logo">
             <a href="{% url "home:home" %}">
                <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png"
                    alt="Logo" />
            </a>
        </div>
<div class="navigation">
            <ul>
                <li>
                    <a href="{% url "home:home" %}">
                        <span class="fa fa-home"></span>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fa-search"></span>
                        <span>Search</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fas fa-book"></span>
                        <span>Your Library</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="fa fas fa-plus-square"></span>
                        <span>Create Playlist</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="fa fas fa-heart"></span>
                        <span>Liked Songs</span>
                    </a>
                </li>
            </ul>
        </div>




    </div>
<link rel="stylesheet" href="{% static "css/FAQ.css" %}">
     <link rel="stylesheet" href="{% static "css/main_base.css" %}">


<div class="anun">
<h1>Frequently Asked Questions</h1>
    </div>

<div class="faqs-container">
  <div class="faq active">
    <h3 class="faq-title">
Who is the best teacher    </h3>
    <p class="faq-text">
        Hayk Nersesyan
        </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      how can i listen more songs?
    </h3>
    <p class="faq-text">
      Buy some account or Log In
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      Do you have any spacial offers for students?
    </h3>
    <p class="faq-text">
      Yes, Pro Students account
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
Who are the worst developers ever    </h3>
    <p class="faq-text">
Jasmin Khachatryan and Sophie Melkonayn     </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      What Premium account give you?
    </h3>
    <p class="faq-text">
      Unlimited ways to listen follow and add song in playlist.
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
  <div class="social-panel">
    <p>Created with <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://florin-pop.com">Florin Pop</a></p>
    <button class="close-btn"><i class="fas fa-times"></i></button>
    <h4>Get in touch on</h4>

  </div>
</div>


<script src="{% static 'js/FAQ.js' %}"></script>

