{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/FAQ.css' %}">

<div class="anun">
<h1>Frequently Asked Questions</h1>
    </div>

<div class="faqs-container">
  <div class="faq active">
    <h3 class="faq-title">
      How can I create my playlist
    </h3>
    <p class="faq-text">
      Buy our premium account
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      Do you have any spaecial offors for students?
    </h3>
    <p class="faq-text">
      Yes, you can use our  Pro Student account
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      I have some issuse with my app
    </h3>
    <p class="faq-text">
      Please connect us
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      How many songs i can add in my playlist
    </h3>
    <p class="faq-text">
      It depends on your account type
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="faq">
    <h3 class="faq-title">
      Why I need to Use Spotify
    </h3>
    <p class="faq-text">
      Click About us and explore more
    </p>
    <button class="faq-toggle">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
<br>
<br>
<br>

<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
  <div class="social-panel">
    <p>Created with <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://florin-pop.com">Florin Pop</a></p>
    <button class="close-btn"><i class="fas fa-times"></i></button>
    <h4>Get in touch on</h4>

  </div>
</div>


<script src="{% static 'js/FAQ.js' %}"></script>
{% endblock %}
