{% extends "main_base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="spotify-playlists">

    {% for album_chunk in chunked_albums %}
     <h2>Albums</h2>
        <div class="list">
            {% for album in album_chunk %}
                <div class="item">
                    <a href="{% url 'music:album_detail' album.pk %}">
                        <img src="{{ album.image.url }}" />

                    <div class="play">
                        <span class="fa fa-play"></span>

                    </div>


                    <h4>{{ album.name }}</h4>
                    </a>
                    <p>{{ album.description }}</p>

                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

            </div>

            <hr>
        </div>

{% endblock %}