{% load static %}
    <link href="{% static "card.css" %}" rel="stylesheet">
    <div id="container">


        <div class="product-details">


            <h1>Sorry your free session is over</h1>

            <p>If you want to continue listening songs please Login.
                You can also have a look at our Premium versions. </p>

            <div class="control">

                <!-- Start Button buying -->
                <button class="btn">


                    <span class="buy">Log In</span>
                </button>


            </div>

        </div>

        <div class="product-image">

            <img src="C:\Users\Victu\Desktop\spotify-content\Девушка слушая нот — фото от Canva_files\canva-MADQ5J3AjzQ.jpg">

        </div>
    </div>